 
body{
    background-color: rgb(244 244 244);
}
.mt4instruction{
    height:100vh;
    margin-top: 8px;
    padding:8px 35px;
    background-color:rgb(255 255 255);
    overflow: hidden;
}
.mt4instruction .title{
    font-size:18px;
    color: #333;
    line-height: 32px;
    padding-bottom: 15px;
}
.orangeColor{
    color:rgb(247 63 18);
}
.buleColor{ 
    color:rgb(0 184 117);
 }
.redColor{
    color:red;
 }
.pinkColor{
    color:#f56162;
 } 
.statusList li{
    padding-bottom: 15px;
}
.statusList dd{
    font-size:13px;
    color:#333;
    line-height:18px;
    padding-top: 5px;
}
.contact p{
    font-size:16px;
}